.button-section{
    margin: 0px auto;
    border: 1px solid rgb(155, 168, 167);
    border-radius: 10px;
    width: 600px;
    @media (max-width: 720px) {
        width: 90%;
    }
    .button-container{
        padding: 30px 30px 50px;
        .header{
            color: rgb(37, 23, 61);
        }
        .button-wrapper{
            margin: 30px 0px 0px 15px;
            .button-desc{
                color: rgb(63, 27, 27);
                font-size: 16px;
            }
            .button-selector{
                color: rgb(61, 60, 60);
                font-size: 16px;
                padding: 10px;
            }
        }
    }
}
.button-div{
    width: 250px;
    display: block;
    margin: 5px 0px 0px 10px;
    font: 900 14px Avenir,Avenir W02,Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    text-decoration-line: none;
    text-align: center;
    cursor: pointer;
    span{
        line-height: 55px;
    }
    &.te-primary-cta{
        color: #fff;
        background: #0066a1;
    }
    &.te-transparent-cta{
        color: #0066a1;
        background: #fff;
        border: 1px solid #0066a1;
    }
}
