
<div class="button-section">
    <div class="button-container">
        <h2 class="header">BUTTONS</h2>
        <div class="button-wrapper">
            <div class="button-desc">Primary CTA:</div>
            <div class="button-selector"><b>Class:</b> te-primary-cta</div>
            <te-add-to-cart [ctaInfo]=AtcCta></te-add-to-cart>
            <te-add-to-cart [ctaInfo]=AtcCtaMedium></te-add-to-cart>
            <te-add-to-cart [ctaInfo]=AtcCtaSmall></te-add-to-cart>
            <te-add-to-cart [ctaInfo]=AtcCtaDisabled></te-add-to-cart>
            <te-add-to-cart [ctaInfo]=AtcCtaIcon></te-add-to-cart>
            <te-add-to-cart [ctaInfo]=AtcCtaIconSmall></te-add-to-cart>
            <te-add-to-cart [ctaInfo]=AtcCtaIconLeft></te-add-to-cart>
            <te-add-to-cart [ctaInfo]=AtcCtaIconRight></te-add-to-cart>
        </div>
        <div class="button-wrapper">
            <div class="button-desc">Secondary CTA:</div>
            <div class="button-selector"><b>Class:</b> te-secondary-cta</div>
            <app-te-cta [ctaInfo]=blueCtaInfo></app-te-cta>
            <app-te-cta [ctaInfo]=blueCtaInfoMedium></app-te-cta>
            <app-te-cta [ctaInfo]=blueCtaInfoSmall></app-te-cta>
            <app-te-cta [ctaInfo]=blueCtaInfoDisabled></app-te-cta>
            <app-te-cta [ctaInfo]=blueCtaInfoIcon></app-te-cta>
            <app-te-cta [ctaInfo]=blueCtaInfoIconLeft></app-te-cta>
            <app-te-cta [ctaInfo]=blueCtaInfoIconRight></app-te-cta>
        </div>
        <div class="button-wrapper">
            <div class="button-desc">White CTA:</div>
            <div class="button-selector"><b>Class:</b> te-white-cta</div>
            <app-te-cta [ctaInfo]=whiteCtaBorder></app-te-cta>
            <app-te-cta [ctaInfo]=whiteCtaShadow></app-te-cta>
        </div>
        <div class="button-wrapper">
            <div class="button-desc">Gray CTA:</div>
            <div class="button-selector"><b>Class:</b> te-gray-cta</div>
            <app-te-cta [ctaInfo]=grayCta></app-te-cta>
            <app-te-cta [ctaInfo]=grayCtaIconLeft></app-te-cta>
        </div>
        <div class="button-wrapper">
            <div class="button-desc">Dark Gray CTA:</div>
            <div class="button-selector"><b>Class:</b> te-dark-gray-cta</div>
            <app-te-cta [ctaInfo]=darkGrayCta></app-te-cta>
        </div>
    </div>
</div>