<div class="compact-product-promo">
    <a href="">
        <div class="bio-image">
            <img src="../../../assets/image/0.png" alt="RF COAX series"></div>
        <div class="description">
            <p class="bio-grid-name">Microminiature Coax Connectors</p>
        </div>
    </a>
</div>
<div class="compact-product-promo">
    <a href="">
        <div class="bio-image">
            <img src="../../../assets/image/0.png" alt="RF COAX series"></div>
        <div class="description">
            <p class="bio-grid-name">Microminiature Coax Connectors</p>
        </div>
    </a>
</div>
<div class="compact-product-promo">
    <a href="">
        <div class="bio-image">
            <img src="../../../assets/image/0.png" alt="RF COAX series"></div>
        <div class="description">
            <p class="bio-grid-name">Microminiature Coax Connectors</p>
        </div>
    </a>
</div>
<div class="compact-product-promo">
    <a href="">
        <div class="bio-image">
            <img src="../../../assets/image/0.png" alt="RF COAX series"></div>
        <div class="description">
            <p class="bio-grid-name">Microminiature Coax Connectors</p>
        </div>
    </a>
</div>
<div class="compact-product-promo">
    <a href="">
        <div class="bio-image">
            <img src="../../../assets/image/0.png" alt="RF COAX series"></div>
        <div class="description">
            <p class="bio-grid-name">Microminiature Coax Connectors</p>
        </div>
    </a>
</div>
<div class="compact-product-promo">
    <a href="">
        <div class="bio-image">
            <img src="../../../assets/image/0.png" alt="RF COAX series"></div>
        <div class="description">
            <p class="bio-grid-name">Microminiature Coax Connectors Microminiature</p>
        </div>
    </a>
</div>
