<span class="close material-icons" mat-dialog-close>clear</span>
<div class="add-to-cart-modal">
  <div class="addedToCart-checkout">                     
    <div class="addedToCart-product-name">
        <div class="product-container">
            <div class="addedToCart-head">
                <h1>You have added an item to the cart</h1>
            </div>
            <div class="latest-part">
                <div class="part-details">
                    <div class="product-image">
                        <div class="imgdiv">
                            <a href="https://www-qa.te.com/usa-en/product-156666-1.html">
                                <img alt="PIDG FASTON FLAG ASSY 16-14-156666-1" src="https://www-qa.te.com/content/dam/te-com/catalog/part/001/566/661/156666-1-t1.jpg/jcr:content/renditions/product-details.png">
                            </a>
                        </div>
                    </div>
                    <div class="product-desc">
                        <ul class="cart-ul-width">
                            <li><h3><a href="">PIDG FASTON FLAG ASSY 16-14</a></h3></li>
                            <li>156666-1</li>
                            <li>TE Internal Number:</li>
                            <li>156666-1</li>
                        </ul>
                    </div>
                </div>
                <div class="price-details">
                    <span>Price</span>
                    <p>$0.89</p>
                </div>
                <div class="volume-pricing">
                    <span class="desktop-pricing">Volume Pricing</span>
                    <ul>
                        <li>
                            <span>1+</span>
                            <span>$0.89390</span>
                        </li>
                        <li>
                            <span>10+</span>
                            <span>$0.81350</span>
                        </li>
                        <li>
                            <span>25+</span>
                            <span>$0.75990</span>
                        </li>
                    </ul>
                    <div class="show-more">
                        <a class="view-more" href="">VIEW MORE +</a>
                    </div>
                    
                </div>
            </div>
            <div class="order-update">
                <div class="minimum-order">
                    <p>Minimum Order Quantity: 1 Piece</p>
                    <div class="addQuantity-header">
                        <span>QTY:</span>
                        <input type="text"class="addQuantityPDPheader" id="quantityUpdate">
                    </div>
                </div>
                <div class="parts-in-stock">
                    <p class="desktop displayMtoStock">1,428 TE Parts In-Stock</p>
                    <a class="secondary-cta-no-icon">Update Quantity </a>
                </div>                            
            </div>

            <div class="atc-tooltip">
                <p class="summary-line">At this time, TE Connectivity ships online orders to countries around the world.</p>
            </div>
        </div>
    </div>
    <div class="addedToCart-btn-groups">
        <div class="btn-groups-container">
            <div class="freeShippingBannerWrapper">
                <div class="freeShippingBanner">
                <div class="fsbContent noLefttMar">
                    <small class="fsbTitle te-orange"><p>Free Shipping</p></small>
                    <small><p><b>available on most items.</b></p></small>
                </div>
                </div>
            </div>
            <div class="price-summary">
                <h4>Cart Summary</h4>
                <ul>
                    <li>
                        <span>Products for purchase</span>
                        <span>$0.89</span>
                    </li>
                    <li>
                        <span>Shipping to United States</span>
                        <span>$0.00</span>
                    </li>
                    <li>
                        <span class="ship-country-msg"></span>
                        <span></span>
                    </li>
                    <li class="total">
                        <span>Subtotal</span>
                        <span>$0.89</span>
                    </li>
                </ul>
                <p class="summary-line">Tax information shown during checkout</p>
            </div>
            <div class="addedToCart-continueCheckout">
                <a href="" class="add-to-cart-cta checkout-button">VIEW CART</a>
            </div>
            <div class="btnCartContinueShop">CONTINUE SHOPPING</div>
        </div>
    </div>
  </div>
</div>

