<div class="promo-content-wrapper">
    <div class="floating-wrapper">
        <div class="promo-reference">
            <div class="te-promo-crafted {{promoGridSize.class}}">
                <div class="container">
                    <a href="">
                        <div class="promo-content">
                            <div class="truncate content-wrapper" style="overflow-wrap: break-word;">
                                <p class="promo-content-title">Choosing Power Resistors</p>
                                <p>Power resistors protect technology by converting large amounts of energy into heat that can be dissipated. Designing your devices for long-term reliability requires power resistors that can withstand performance requirements. Learn how you can select the right... </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

